#campusContainer {
    background-color: grey;
    padding: 2%;
    display: flex;
    gap: 5%;

}

#info {
   display: block;
   position: relative;
   width: 50%;
}

#campusName {
    display: block;
    font-size: larger;
    margin-bottom: 10%;
}
#campusName{
    color: #1ff0ff;
}

#actions{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#edit{
    color: #1ff0ff;
}
#delete{
    background-color: green;
    border: none;
    outline: none;
    font-weight: bold;
}
#delete:hover {
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#delete:active{
    font-weight: normal;
}